// font
@font-face {
	font-family: "avenir-medium";
	src: url("../fonts/AvenirNext-Medium.otf") format("opentype"),
		url("../fonts/AvenirNext-Regular.ttf") format("truetype");
}
@font-face {
	font-family: "avenir-regular";
	src: url("../fonts/AvenirNext-Regular.otf") format("opentype"),
		url("../fonts/AvenirNext-Regular.ttf") format("truetype");
}

@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;500;700&display=swap");

$font: "avenir-regular", sans-serif;
$font-medium: "avenir-medium", sans-serif;

$font-jp: "Noto Sans JP", sans-serif;

@mixin fz($size: 14) {
	font-size: $size + px;
	font-size: ($size / 10) + rem;
}

// Background Color
$bgColor: rgba(#f7f3ed, 1);

// Color
$color: rgba(#333, 1);
$color-link: rgba(#00bfff, 1);
