@charset "utf-8";
@import "__reset";
@import "_variable";
@import "_default";

.pc {
	display: block;
}
.sp {
	display: none;
}

// @include fsClamp(18);

/*-----------------------------------------------------*/
// common
/*-----------------------------------------------------*/

body {
	word-break: break-all;
}

.inner {
	width: 100%;
	max-width: 1000px;
	margin: 0 auto;
}

img {
	width: 100%;
	height: auto;
}

.msg {
	@include fz(13);
	// ↑
	//font-size: 13px;
	//font-size: 1.3rem;

	font-family: $font-medium;
}

/*-----------------------------------------------------*/
// header
/*-----------------------------------------------------*/

.header {
	height: 100vh;
	position: relative;
	&__logo {
		top: 50%;
		left: 50%;
		position: absolute;
		transform: translate(-50%, -50%);
		#O1, #S, #O2, #I {
			transform: translateY(200px);
			animation: waveLoop 4s infinite ease-in-out;
		}
		#S { animation-delay: 0.2s; }
		#O2 { animation-delay: 0.4s; }
		#I { animation-delay: 0.6s; }
	}
	&__text {
		left: 50%;
		bottom: 5.5%;
		color: #fff;
		font-size: 19px;
		position: absolute;
		transform: translateX(-50%);
	}
}

.slider {
	z-index: -1;
	height: 100%;
	display: flex;
	overflow: hidden;
	position: relative;
	align-items: center;
	justify-content: space-between;
	
	&__left, &__right {
		flex: 1;
		height: 100%;
		overflow: hidden;
    position: relative;
		img {
			object-fit: cover;
			height: 100%;
			width: 100%;
		}
	}

	&__slideReveal {
		animation: revealDown 1s ease-in-out forwards;
	}
	
	&__slideRevealReverse {
		animation: revealUp 1s ease-in-out forwards;
	}

	&__zoom {
    animation: zoomEffect 5s ease-in-out forwards;
  }
}

/*-----------------------------------------------------*/
// nav
/*-----------------------------------------------------*/

.nav {
}

/*-----------------------------------------------------*/
// main
/*-----------------------------------------------------*/

.main {
	#sectionDescription {
		height: 100vh;
		display: flex;
		align-items: center;
		justify-content: center;
		
		.description {
			text-align: center;
			&__title {
				margin-bottom: 40px;
				img {
					max-width: 200px;
					margin: 0 auto;
				}
				h2 { margin: 15px 0; }
			}
			&__content {
				margin: 50px 0;
				font-size: 20px;
			}
			&__footer {
				margin-top: 60px;
				font-size: 20px;
				p { margin-bottom: 30px; }
			}
		}

		.toggler {
			display: flex;
			font-weight: bold;
			position: relative;
			justify-content: center;

			&::before {
				content: "";
				top: 50%;
				left: 50%;
				height: 50%;
				position: absolute;
				border: 1px solid #000;
				transform: translate(-50%, -50%);
			}

			input { display: none; }

			&--language {
				gap: 60px;
				font-size: 20px;
					
				label {
					width: 50px;
					height: 50px;
					display: flex;
					position: relative;
					align-items: center;
					justify-content: center;
					transition: color 0.3s ease-in-out;
			
					&::before {
						content: "";
						top: -50%;
						left: -50%;
						width: 100%;
						height: 100%;
						position: absolute;
						border-radius: 50%;
						border: 2px solid transparent;
						transform: translate(50%, 50%);
						transition: border-color 0.3s ease-in-out;
					}
				}
			
				input:checked + label {
					color: #000;
					&::before { border-color: #000; }
				}
			
				label:hover::before {
					border-color: #000;
					animation: borderCircle 0.5s linear forwards;
				}
			}

			&--category {
				gap: 50px;
				font-size: 24px;
				&::before { height: 100%; }
				label { padding: 20px 80px; }
			}
		}
		
		@keyframes borderCircle {
			0% { clip-path: inset(0 100% 0 0); }
			25% { clip-path: inset(0 0 0 100%); }
			50% { clip-path: inset(100% 0 0 0); }
			75% { clip-path: inset(0 0 100% 0); }
			100% { clip-path: inset(0); }
		}		
	}
}

/*-----------------------------------------------------*/
// home
/*-----------------------------------------------------*/

.home {
}

/*-----------------------------------------------------*/
// page
/*-----------------------------------------------------*/

.pg {
}

/*-----------------------------------------------------*/
// about
/*-----------------------------------------------------*/

.pg.about {
}

/*-----------------------------------------------------*/
// footer
/*-----------------------------------------------------*/

.footer {
}

/*-----------------------------------------------------*/
// effect
/*-----------------------------------------------------*/

.fade {
	transform: translateY(50px);
	opacity: 0;
	transition: 1s;
}

.fade__on {
	transform: translateY(0);
	opacity: 1;
}

/*-----------------------------------------------------*/
// menubar
/*-----------------------------------------------------*/

.menubar {
	position: fixed;
	z-index: 2000;
	right: -1px;
	top: 0;
	display: block;
	margin: 0;
	padding: 0;

	.menubar__trigger {
		margin: 0;
		padding: 0;
		display: inline-block;
		transition: all 0.3s;
		box-sizing: border-box;
		position: relative;
		width: 60px;
		height: 60px;
		background: $color;
		vertical-align: bottom;

		span {
			display: inline-block;
			transition: all 0.4s;
			box-sizing: border-box;
			position: absolute;
			left: 25%;
			width: 50%;
			height: 1px;
			background-color: #fff;
		}

		span:nth-of-type(1) {
			top: 19px;
		}
		span:nth-of-type(2) {
			top: 29px;
		}
		span:nth-of-type(3) {
			top: 39px;
		}
	}

	.menubar__trigger.active {
		background: #fff;

		span {
			background: $color;
		}
		span:nth-of-type(1) {
			-webkit-transform: translateY(10px) rotate(-45deg);
			transform: translateY(10px) rotate(-45deg);
		}
		span:nth-of-type(2) {
			opacity: 0;
		}
		span:nth-of-type(3) {
			-webkit-transform: translateY(-10px) rotate(45deg);
			transform: translateY(-10px) rotate(45deg);
		}
	}
}

/*-----------------------------------------------------*/
// Smartphone
/*-----------------------------------------------------*/

@media only screen and (max-width: 769px) {
	@import "_sp";
}

/*-----------------------------------------------------*/
// Keyframe
/*-----------------------------------------------------*/

@keyframes revealDown {
  0% { clip-path: inset(0 0 100% 0); }
  100% { clip-path: inset(0); }
}

@keyframes revealUp {
  0% { clip-path: inset(100% 0 0 0); }
  100% { clip-path: inset(0); }
}

@keyframes zoomEffect {
  0% { transform: scale(1); }
  100% { transform: scale(1.1); }
}

@keyframes waveLoop {
	0% { transform: translateY(200px); }
	20% { transform: translateY(0); }
	50% { transform: translateY(0); }
	80% { transform: translateY(200px); }
	100% { transform: translateY(200px); }
}
