@charset "UTF-8";
/* Box sizing rules */
/* Box sizingの定義 */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;500;700&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default padding */
/* デフォルトのpaddingを削除 */
ul[class],
ol[class] {
  padding: 0;
}

/* Remove default margin */
/* デフォルトのmarginを削除 */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core body defaults */
/* bodyのデフォルトを定義 */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
/* class属性を持つul、ol要素のリストスタイルを削除 */
ul[class],
ol[class] {
  list-style: none;
}

/* A elements that don't have a class get default styles */
/* classを持たない要素はデフォルトのスタイルを取得 */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
/* img要素の扱いを簡単にする */
img {
  max-width: 100%;
  display: block;
}

/* Natural flow and rhythm in articles by default */
/* article要素内の要素に自然な流れとリズムを定義 */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
/* inputやbuttonなどのフォントは継承を定義 */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
/* 見たくない人用に、すべてのアニメーションとトランジションを削除 */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
@font-face {
  font-family: "avenir-medium";
  src: url("../fonts/AvenirNext-Medium.otf") format("opentype"), url("../fonts/AvenirNext-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "avenir-regular";
  src: url("../fonts/AvenirNext-Regular.otf") format("opentype"), url("../fonts/AvenirNext-Regular.ttf") format("truetype");
}
/* common */
body {
  background: #f7f3ed;
  color: #333333;
  font-family: "avenir-regular", sans-serif;
}

a {
  color: deepskyblue;
  text-decoration: underline;
  cursor: pointer;
  transition: all 0.3s;
}
a:hover {
  color: #66d9ff;
  text-decoration: none;
}
a:focus {
  outline: none;
}

a:focus,
*:focus {
  outline: none;
}

/* print */
@media print {
  * html body {
    zoom: 0.7;
  }
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  font-style: italic;
  background-repeat: no-repeat;
  background-size: cover;
  shape-margin: 0.75rem;
}

.pc {
  display: block;
}

.sp {
  display: none;
}

/*-----------------------------------------------------*/
/*-----------------------------------------------------*/
body {
  word-break: break-all;
}

.inner {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}

img {
  width: 100%;
  height: auto;
}

.msg {
  font-size: 13px;
  font-size: 1.3rem;
  font-family: "avenir-medium", sans-serif;
}

/*-----------------------------------------------------*/
/*-----------------------------------------------------*/
/*-----------------------------------------------------*/
/*-----------------------------------------------------*/
.nav {
  top: 0;
  width: 100%;
  display: flex;
  z-index: 99999;
  padding: 15px 35px;
  position: absolute;
}
.nav__logo {
  max-width: 100px;
  mix-blend-mode: lighten;
  opacity: 0.7;
}
.nav__item {
  gap: 35px;
  width: 100%;
  display: flex;
  font-size: 12px;
  font-weight: bold;
  padding-left: 45px;
  align-items: center;
  justify-content: start;
}
.nav__item a {
  color: #000;
  margin-left: auto;
  text-decoration: none;
}
.nav--fixed {
  top: 0;
  left: 0;
  position: fixed;
}

/*-----------------------------------------------------*/
/*-----------------------------------------------------*/
.main .hero {
  height: 100vh;
  position: relative;
}
.main .hero__logo {
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
}
.main .hero__logo svg {
  max-width: 280px;
  width: 100%;
}
.main .hero__logo #O1, .main .hero__logo #S, .main .hero__logo #O2, .main .hero__logo #I {
  transform: translateY(200px);
  animation: wave-loop 4s infinite ease-in-out;
}
.main .hero__logo #S {
  animation-delay: 0.2s;
}
.main .hero__logo #O2 {
  animation-delay: 0.4s;
}
.main .hero__logo #I {
  animation-delay: 0.6s;
}
.main .hero__text {
  left: 50%;
  bottom: 5.5%;
  color: #fff;
  font-size: 10px;
  position: absolute;
  transform: translateX(-50%);
}
.main .slider {
  z-index: -1;
  height: 100%;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  justify-content: space-between;
}
.main .slider__left, .main .slider__right {
  flex: 1;
  height: 100%;
  overflow: hidden;
  position: relative;
}
.main .slider__left img, .main .slider__right img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
  width: 100%;
}
.main .slider__slide-reveal {
  animation: reveal-down 1s ease-in-out forwards;
}
.main .slider__slide-reveal-reverse {
  animation: reveal-up 1s ease-in-out forwards;
}
.main .slider__zoom {
  animation: zoom-effect 5s ease-in-out forwards;
}
.main #section-description {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main #section-description .description {
  text-align: center;
}
.main #section-description .description__title {
  margin-bottom: 10px;
}
.main #section-description .description__title img {
  max-width: 100px;
  margin: 0 auto;
}
.main #section-description .description__title h2 {
  font-size: 14px;
  margin: 8px 0;
}
.main #section-description .description__content {
  margin: 15px 0;
  font-size: 10px;
}
.main #section-description .description__footer {
  margin-top: 40px;
  font-size: 10px;
}
.main #section-description .description__footer p {
  margin-bottom: 10px;
}
.main #section-description .toggler {
  display: flex;
  font-weight: bold;
  position: relative;
  justify-content: center;
}
.main #section-description .toggler::before {
  content: "";
  top: 50%;
  left: 50%;
  height: 50%;
  position: absolute;
  border: 1px solid #000;
  transform: translate(-50%, -50%);
}
.main #section-description .toggler input {
  display: none;
}
.main #section-description .toggler--language {
  gap: 60px;
  font-size: 10px;
}
.main #section-description .toggler--language label {
  width: 30px;
  height: 30px;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  transition: color 0.3s ease-in-out;
}
.main #section-description .toggler--language label::before {
  content: "";
  top: -50%;
  left: -50%;
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 50%;
  border: 2px solid transparent;
  transform: translate(50%, 50%);
  transition: border-color 0.3s ease-in-out;
}
.main #section-description .toggler--language input:checked + label {
  color: #000;
}
.main #section-description .toggler--language input:checked + label::before {
  border-color: #000;
}
.main #section-description .toggler--language label:hover::before {
  border-color: #000;
  animation: border-circle 0.5s linear forwards;
}
.main #section-description .toggler--category {
  gap: 10px;
  font-size: 14px;
}
.main #section-description .toggler--category::before {
  height: 100%;
}
.main #section-description .toggler--category label {
  padding: 10px 40px;
}
@keyframes border-circle {
  0% {
    -webkit-clip-path: inset(0 100% 0 0);
            clip-path: inset(0 100% 0 0);
  }
  25% {
    -webkit-clip-path: inset(0 0 0 100%);
            clip-path: inset(0 0 0 100%);
  }
  50% {
    -webkit-clip-path: inset(100% 0 0 0);
            clip-path: inset(100% 0 0 0);
  }
  75% {
    -webkit-clip-path: inset(0 0 100% 0);
            clip-path: inset(0 0 100% 0);
  }
  100% {
    -webkit-clip-path: inset(0);
            clip-path: inset(0);
  }
}
.main #section-product {
  position: relative;
}
.main .product-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.main .product-container .product {
  width: 50%;
  position: relative;
  height: 118.5vh;
}
.main .product-container .product--big {
  width: 100%;
}
.main .product-container .product--category {
  display: flex;
  text-align: center;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.main .product-container .product--category h1 {
  font-size: 36px;
  margin-bottom: 15px;
}
.main .product-container .product--category p {
  font-size: 12px;
}
.main .product-container .product__image {
  height: 100%;
}
.main .product-container .product__image img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.main .product-container .product__image--with-frame {
  padding: 120px 90px;
}
.main .product-container .product__image--right {
  padding: 0 0 110px 135px;
}
.main .product-container .product__price {
  width: 100%;
  bottom: 40px;
  font-size: 12px;
  text-align: center;
  position: absolute;
  text-decoration: underline;
  text-underline-offset: 8px;
}
.main .product-container .product__price--white {
  color: #fff;
}
.main .product-container .product__price--multi {
  gap: 40px;
  display: flex;
  justify-content: center;
}
.main #culture-girl {
  padding-top: 144px;
}

/*-----------------------------------------------------*/
/*-----------------------------------------------------*/
/*-----------------------------------------------------*/
/*-----------------------------------------------------*/
/*-----------------------------------------------------*/
/*-----------------------------------------------------*/
/*-----------------------------------------------------*/
/*-----------------------------------------------------*/
.footer {
  gap: 55px;
  height: 50vh;
  display: flex;
  padding: 30px 0;
  align-items: center;
  justify-content: end;
  flex-direction: column;
}
.footer .store-link {
  display: flex;
}
.footer .store-link a {
  color: #000;
  font-size: 14px;
  padding: 10px 40px;
  text-decoration: none;
}
.footer .store-link a:first-child {
  border-right: 1px solid #000;
}
.footer .media-link {
  text-align: center;
}
.footer .media-link p {
  font-size: 12px;
  margin-bottom: 10px;
}
.footer .media-link .media-link__icon {
  gap: 30px;
  display: flex;
  justify-content: center;
}
.footer .media-link .media-link__icon img {
  width: 28px;
}
.footer__copyright {
  font-size: 10px;
}

/*-----------------------------------------------------*/
/*-----------------------------------------------------*/
.fade {
  transform: translateY(50px);
  opacity: 0;
  transition: 1s;
}

.fade__on {
  transform: translateY(0);
  opacity: 1;
}

/*-----------------------------------------------------*/
/*-----------------------------------------------------*/
.menubar {
  position: fixed;
  z-index: 2000;
  right: -1px;
  top: 0;
  display: block;
  margin: 0;
  padding: 0;
}
.menubar .menubar__trigger {
  margin: 0;
  padding: 0;
  display: inline-block;
  transition: all 0.3s;
  box-sizing: border-box;
  position: relative;
  width: 60px;
  height: 60px;
  background: #333333;
  vertical-align: bottom;
}
.menubar .menubar__trigger span {
  display: inline-block;
  transition: all 0.4s;
  box-sizing: border-box;
  position: absolute;
  left: 25%;
  width: 50%;
  height: 1px;
  background-color: #fff;
}
.menubar .menubar__trigger span:nth-of-type(1) {
  top: 19px;
}
.menubar .menubar__trigger span:nth-of-type(2) {
  top: 29px;
}
.menubar .menubar__trigger span:nth-of-type(3) {
  top: 39px;
}
.menubar .menubar__trigger.active {
  background: #fff;
}
.menubar .menubar__trigger.active span {
  background: #333333;
}
.menubar .menubar__trigger.active span:nth-of-type(1) {
  transform: translateY(10px) rotate(-45deg);
}
.menubar .menubar__trigger.active span:nth-of-type(2) {
  opacity: 0;
}
.menubar .menubar__trigger.active span:nth-of-type(3) {
  transform: translateY(-10px) rotate(45deg);
}

/*-----------------------------------------------------*/
/*-----------------------------------------------------*/
@media only screen and (max-width: 769px) {
  .pc {
    display: none;
  }
  .sp {
    display: block;
  }
  /*-----------------------------------------------------*/
  /*-----------------------------------------------------*/
}
/*-----------------------------------------------------*/
/*-----------------------------------------------------*/
@keyframes reveal-down {
  0% {
    -webkit-clip-path: inset(0 0 100% 0);
            clip-path: inset(0 0 100% 0);
  }
  100% {
    -webkit-clip-path: inset(0);
            clip-path: inset(0);
  }
}
@keyframes reveal-up {
  0% {
    -webkit-clip-path: inset(100% 0 0 0);
            clip-path: inset(100% 0 0 0);
  }
  100% {
    -webkit-clip-path: inset(0);
            clip-path: inset(0);
  }
}
@keyframes zoom-effect {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}
@keyframes wave-loop {
  0% {
    transform: translateY(200px);
  }
  20% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(0);
  }
  80% {
    transform: translateY(200px);
  }
  100% {
    transform: translateY(200px);
  }
}